<div class="colorNav">
  <div class="flex justify-content-between flex-wrap">
    <span class="cursor-pointer">
      <i
        class="pi pi-bars text-white"
        (click)="sibebar = true"
        style="font-size: 1rem"
      ></i>
    </span>
    <i class="pi pi-arrow-right text-white cursor-pointer" style="font-size: 1rem" (click)="confirmarLogout()"></i>
    <!-- <button pButton class="p-button-text btnSenha" icon="pi pi-chevron-right" label="Sair"
    (click)="confirmarLogout(sair)"></button> -->
</div>
</div>

<p-sidebar [(visible)]="sibebar" >
  <div class="flex flex-wrap">
    <div class="col-12">
      <p-button
        styleClass="p-button-text p-button-warning w-full text-1xl"
        label="Início"
        routerLink="/dashboard"
        (click)="sibebar = false"
      ></p-button>
    </div>
    <div class="col-12">
      <p-button
        styleClass="p-button-text p-button-warning w-full text-1xl"
        label="Motivos"
        [routerLink]="auth.jwtPayload?.permissao.motivos ? '/motivos' : null"
        [disabled]="!auth.jwtPayload?.permissao.motivos"
        (click)="sibebar = false"
      ></p-button>
    </div>
    <div class="col-12">
      <p-button
        styleClass="p-button-text p-button-warning w-full text-1xl"
        label="Varas"
        [routerLink]="auth.jwtPayload?.permissao.varas ? '/varas' : null"
        [disabled]="!auth.jwtPayload?.permissao.varas"
        (click)="sibebar = false"
      ></p-button>
    </div>
    <div class="col-12">
      <p-button
        styleClass="p-button-text p-button-warning w-full text-1xl"
        label="Status"
        [routerLink]="auth.jwtPayload?.permissao.status ? '/status' : null"
        [disabled]="!auth.jwtPayload?.permissao.status"
        (click)="sibebar = false"
      ></p-button>
    </div>
    <div class="col-12">
      <p-button
        styleClass="p-button-text p-button-warning w-full text-1xl"
        label="Clientes"
        [routerLink]="auth.jwtPayload?.permissao.clientes ? '/clientes' : null"
        [disabled]="!auth.jwtPayload?.permissao.clientes"
        (click)="sibebar = false"
      ></p-button>
    </div>
    <div class="col-12">
      <p-button
        styleClass="p-button-text p-button-warning w-full text-1xl"
        label="Agendamentos"
        [routerLink]="auth.jwtPayload?.permissao.agendamentos ? '/agendamentos' : null"
        [disabled]="!auth.jwtPayload?.permissao.agendamentos"
        (click)="sibebar = false"
      ></p-button>
    </div>
    <div class="col-12">
      <p-button
        styleClass="p-button-text p-button-warning w-full text-1xl"
        label="Processos"
        [routerLink]="auth.jwtPayload?.permissao.processos ? '/processos' : null"
        [disabled]="!auth.jwtPayload?.permissao.processos"
        (click)="sibebar = false"
      ></p-button>
    </div>
    <div class="col-12">
      <p-button
        styleClass="p-button-text p-button-warning w-full text-1xl"
        label="Usuários"
        [routerLink]="auth.jwtPayload?.permissao.usuarios ? '/usuarios' : null"
        [disabled]="!auth.jwtPayload?.permissao.usuarios"
        (click)="sibebar = false"
      ></p-button>
    </div>
  </div>
</p-sidebar>
