<div class="background">
  <p-card class="col-12 md:col-6 lg:col-4">
    <div class="p-fluid">
      <form #formLogin="ngForm" (keyup.enter)="
          EnterSubmit($event, formLogin, usuario.value, senha.value)">
        <div class="flex justify-content-center mt-2">
        <img src="assets/images/npj_logo.png" alt="Logo NPJ" width="300px">
        </div>
        <div class="col-12">
          <h6 class="noselection">Usuário</h6>
          <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <input pInputText type="text" name="usuario" id="usuario" autocapitalize="off" class="p-inputtext-sm"
              ngModel required #usuario>
          </span>
        </div>
        <br />
        <div class="col-12">
          <h6 class="noselection">Senha</h6>
          <span class="p-input-icon-left">
            <i class="pi pi-lock"></i>
            <input pInputText type="password" name="senha" class="p-inputtext-sm" ngModel required #senha />
            <span (click)="
                senha.type = senha.type == 'password' ? 'text' : 'password'
              " class="pi pi-eye-slash field-icon" [ngClass]="
                senha.type == 'password' ? 'pi-eye-slash' : 'pi pi-eye'
              "></span>
          </span>
        </div>
        <div class="col-12">
          <button pButton pRipple type="button" label="Entrar"
            class="p-button-raised p-button-warning p-button-sm btnLogin p-mt-5" iconPos="right"
            [disabled]="!formLogin.valid" (click)="login(usuario.value, senha.value); senha.value = ''"></button>
        </div>
      </form>
    </div>
  </p-card>

