<main>
  <p-card styleClass="card-adjust">
    <h4>{{ editando ? "EDIÇÃO DE" : "CADASTRO DE" }} STATUS</h4>
    <div class="flex justify-content-start mb-2">
      <div>
        <button
          pButton
          pRipple
          type="button"
          class="p-button-raised p-button-warning"
          icon="pi pi-caret-left"
          pTooltip="Voltar"
          tooltipPosition="top"
          routerLink="/status"
        ></button>
      </div>
    </div>
    <br />
    <form
      #formStatus="ngForm"
      autocomplete="off"
      (ngSubmit)="salvar(formStatus)"
    >
      <div class="grid justify-content-center">
        <div class="col-12 md:col-6 lg:col-4">
          <h6><span class="obrigatorio">*</span>Descrição</h6>
          <!--TODO Forma de input uppercase sem diretiva -->
          <input
            class="w-full"
            oninput="this.value = this.value.toUpperCase()"
            pInputText
            name="status"
            type="text"
            [pKeyFilter]="regex.string"
            [(ngModel)]="newstatus.descricao"
            #status="ngModel"
            [disabled]="editando"
            required
            minlength="3"
          />
          <app-message
            [control]="status"
            error="required"
            text="Informe a descrição"
          ></app-message>
          <app-message
            [control]="status"
            error="minlength"
            text="Mínimo de {{
              status.errors?.minlength?.requiredLength
            }} caracteres"
          ></app-message>
        </div>
      </div>
      <div class="flex justify-content-center">
        <div class="flex align-items-center justify-content-center">
          <h6>Status</h6>
        </div>
      </div>
      <div class="flex justify-content-center">
        <div class="flex align-items-center justify-content-center">
          <p-inputSwitch
            [(ngModel)]="newstatus.status"
            name="status"
            [ngModelOptions]="{ standalone: true }"
            binary="true"
          >
          </p-inputSwitch>
        </div>
      </div>
      <br />
      <div class="flex flex-wrap justify-content-center">
        <div class="col-12 md:col-6 lg:col-4">
          <button
            pButton
            pRipple
            type="submit"
            label="Salvar"
            icon="fas fa-save"
            [disabled]="formStatus.invalid || salvando"
            class="p-button-raised p-button-warning w-full"
          ></button>
        </div>
        <!-- <div class="col-12 md:col-6 lg:col-4">
          <button pButton pRipple type="button" class="p-button-outlined p-button-primary w-full" icon="fas fa-trash"
            pTooltip="Excluir" tooltipPosition="top"
            (click)="confirmarExclusao()" label="Excluir"></button>
        </div> -->
      </div>
      <div *ngIf="salvando" class="grid justify-content-center mt-4">
        <div class="grid col-12 justify-content-center">
          <p-progressSpinner
            [style]="{ width: '50px', height: '50px' }"
            styleClass="custom-spinner"
            strokeWidth="8"
            animationDuration=".5s"
          >
          </p-progressSpinner>
        </div>
        <div class="grid col-12 justify-content-center">
          <h6>Salvando aguarde...</h6>
        </div>
      </div>
    </form>
  </p-card>
</main>
